<!-- <p>mix works!</p> -->
<!-- 

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Delete Id</label>
        <div class="col-sm-10">
          <input
           type="number"
            class="form-control"
           
             formControlName="username">
        </div>
      </div> -->

    <!-- <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
         type="email" 
         class="form-control" 
       
         formControlName="email">
      </div>
    </div> -->
<!-- 
    
    <button type="submit" class="btn btn-primary">Delete</button>

  </form> -->

<!-- 
  <input type="number" [(ngModel)]="product_id">

  
  <button (click)="deleteMe()" class="btn btn-primary">Delete</button> -->


  <br>
  <br>
  <br>


  <div >
    <div class ="container" >
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    
                    <thead class="thead-dark"  >
                        
                        <tr>
                            <th>SR.NO.</th>
                            <th>producut image</th>
                            <th>producut name</th>
                            <th>producut id</th>
                            <th>producut price</th>
                        </tr>
                   
                    </thead>
                    <tbody >
                        <tr *ngFor="let mypro of products;index as i" >
                            <td>{{i+1}}</td>
                            <td><img [src]=mypro.img width="120" alt="" height=""/></td>
                            <td>{{mypro.name}}</td>
                            <td>{{mypro.id}}</td>
                            <td>{{mypro.price}}</td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </div>
    </div>
    














